*
{
    margin: 0;
    padding: 0;
}
a[href*="#"] {
    scroll-behavior: smooth;
}
body
{
    font-family: sans-serif;
}
/*==========================================HEADER SECTION✅👇🏼=================================================================*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #05133f, #031039, #004a3d);
    padding: 0 !important;
}

.navbar-brand img{
    height: 120px;
    
}
.navbar-nav li{
    padding: 0 15px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 500;
}
.navbar-nav li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #009d82;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar-nav li:hover::after{
    width: 100%;
}

/*This is for Get started button*/
#botona {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: #00805e;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-left: 100px;
    transition: 0.7s ease;
  }
  #botona:hover {
    background-color: #009d82;
    transform: scale(1.1);
  }
  #nav-bar .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #009d82, #006655 );
    transition: 0.5s ease;
  }

#nav-bar .btn-primary:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to left, #009d82, #006655 );
}
  .custom-toggler .navbar-toggler-icon {
    background-color: #fff; 
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.dropdown-menu a {
    text-transform: lowercase;
    color: black !important;
    background-color: #05133f !important;
  }
  .dropdown-menu a:hover {
    background-color: #006655 !important;
    color: gold !important;
  }

/*==========================================HERO SECTION✅👇🏼=================================================================*/

#banner{
    background-image: linear-gradient(to right,#05133f, #031039, #004a3d ) ;
    color: #fff;
    padding-top: 5%;
}

.bottom-img{
    width:100%
}
.img-fluid {
    transition: 0.9s ease;
}
.img-fluid:hover {
    transform: scale(1.1);

}
@media (min-width: 1200px){  
.promo-title{
    width: 130%;
 }
}

/*==========================================SERVICES1 SECTION✅👇🏼=================================================================*/

#services{
    padding: 80px 0;

}
.service-img{
    width:280px;
    margin-top: 20px;
    transition: 0.7s ease;
}
.service-img:hover{
    transform: translateY(-10px);
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: #006655;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);

}
.title::after{
    content: '';
    background: #006655;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(17px);

}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #009d82, #006655 );
    transition: 0.5s ease;
} 
#services .btn-primary:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to left, #009d82, #006655 );
}

/*==========================================SERVICES1 SECTION✅👇🏼=================================================================*/

#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 25px;
    font-weight: 600;
    margin-top: 8%;
}
 #about-us ul li{
    margin: 10px 0;
 }
 #about-us ul{
    margin-left: 20px;
 }
 #about-us .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #009d82, #006655 );
    transition: 0.5s ease;
 }
 #about-us .btn-primary:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to left, #009d82, #006655 );
}
#about-us h5{
    font-size: 18px;
}
#aboutwave2{
    position: relative;
    bottom: 50px;
}
#aboutwave1{
    position: relative;
    top: 50px;
}

/*==========================================SOCIAL ICONS SECTION✅👇🏼=================================================================*/


 #social-media{
    background: #f8f9fa;
    padding: 100px 0;
 }
 #social-media p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
 }
 .social-icons img{
    width: 60px;
    transition: 0.5s;
 }
 .social-icons a:hover img{
    transform: translateY(-10px);
 }


/*==========================================BOOKS SECTION✅👇🏼=================================================================*/

 
 #cards .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #009d82, #006655 );
    transition: 0.5s ease;
} 
#cards .btn-primary:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to left, #009d82, #006655 );
}
.card-img-top{
   
    transition: 0.7s ease;
}
.card-img-top:hover{
    transform:scale(1.1);
    }
    .card-img-top:hover .card-img-top{
    
      opacity: 0.9;  
    }
 
    .card{
     margin-top: 30px;
 }
 
.mt-5
{
  
  background: #f8f9fa;
}


/*==========================================FOOTER✅👇🏼=================================================================*/


 #footer{
    background-image: linear-gradient(to right, #009d82, #006655 );
    color:#fff;
 }
 .footer-img{
    width:100%;
 }
 .footer-box{
    padding: 20px;
 }
 .footer-box img{
    width:120px;
    margin-bottom: 20px;
 }
 .footer-box i.fas,
.footer-box i.far {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #009d82, #006655);
}
.footer-box .btn-primary{
    
    background-image: linear-gradient(to right, #009d82, #006655);
   
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}


